.Navigation {
  grid-column: 8 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: var(--color-ii);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 15vh 0 15vh 0;
  font-family: var(--font-pageheading);
  color: var(--color-ii-contrast);
  /* overflow: hidden; */
  position: relative;
}

.Navigation a {
  display: block;
  text-decoration: none;
}
.Navigation-Category {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  list-style: none;
}

.Navigation li {
  transition: all var(--transition-effect-timing);
}

.Navigation-Label {
  text-align: center;
  font-size: 1.3rem;
}

.Navigation .Button {
  display: block;
  width: 90%;
  margin: 0.25rem auto;
  font-weight: 600;
  color: var(--color-ii-contrast);
}

.Navigation-Active {
  background-color: var(--color-text-highlight);
}

.Navigation hr {
  margin: 0 25% 0.5rem 25%;
}
.Triangle {
  background-color: var(--color-i);
  height: 225px;
  width: 100%;
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 0, 100% 73%, 100% 100%, 0% 100%);
}
