.Widget-Display-Window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Widget-Display-Title {
  margin-top: 1.95rem;
  font-size: 2.15rem;
  text-align: center;
  font-weight: 600;
  font-family: var(--font-pageheading);
}

.Widget-Display-Wrapper {
  display: block;
  margin: auto;
}

.Widget-Display-Description {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.65rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-family: var(--font-subheading);
  font-weight: 500;
}

.Widget-Display-Hide-Overflow {
  overflow: hidden;
}

.Widget-Display-Hide-OverflowX {
  overflow-x: hidden;
}

.Widget-Display-Hide-OverflowY {
  overflow-y: hidden;
}

.Widget-Display-Arrow {
  position: absolute;
  top: 0.1rem;
  left: 0;
  font-size: 1.75rem;
}
@media screen and (min-width: 600px) {
  .Widget-Display-Title {
    margin-top: 1.5rem;
    font-size: 3.25rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--font-pageheading);
  }
  .Widget-Display-Arrow {
    font-size: 2.25rem;
  }
}
